@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --font-family: 'Ubuntu', sans-serif;

  --gradient-text: linear-gradient(to right, #9c27b0 0%, #ff5722 100%);
  
  --color-bg: #151E3F;
  --color-blog: rgba(224, 170, 255, 0.15);
  --color-text: #E1BEE7;
}